@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff;

}

/* navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

}

.navbar ul {
  display: flex;
  gap: 40px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
}

.home {
  font-weight: 700;

}

.text-color {
  color: rgb(37, 36, 50);
}

.nav {
  color: #8987A1;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text1 {
  color: #000000;
}

/* banner section  */
.banner-section {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  /* text-align: left; */
  align-items: flex-end;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
}

.text-decoration {
  color: #E95A08;
}

.banner-description {
  font-size: 1.5rem;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5)
}

/* card section  */
.card-section {
  text-align: center;
  margin-bottom: 50px;
}

.card-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-section p {
  max-width: 890px;
  margin: 0 auto;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  ;

}

.card {
  text-align: center;
  margin-top: 20px;

}

.card h5 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.25rem;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}

.btn-primary {
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 90, 8);
  border: none;
  padding: 15px 89.5px;
  margin-bottom: 20px
}

/* Flower & Plants Lover */
.flower-store {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 180px;
  margin-bottom: 100px;
}

.position {
  position: relative;
}

.badge {
  max-width: 280px;
  height: auto;
  position: absolute;
  margin-top: -725px;
  margin-left: 350px;
}

.flower-store-right h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
  max-width: 440px;
  margin-bottom: 20px;
}

.flower-store-right ul li {
  margin-bottom: 20px;
}

/* Latest  Deals */
.Plants-banner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}



.background-1,
.background-2,
.background-3 {
  background-image: url("../assets/deal-bloom.png");
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 200px;
  /* overflow: hidden; */
  color: white;
}

.background-2 {
  background-image: url("../assets/deal-ana.png");
}

.background-3 {
  background-image: url("../assets/deal-zabo.png");
  height: 420px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.text-content h3{
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.text-content a{
  font-weight: 500;
  color: #fff;
}
.text-content1 h3{
  font-size: 2.25rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.text-content1 a{
  font-weight: 500;
  color: #fff;
  font-size: 1.5rem;
}
/* join section  */
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  height: 500px;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
}
.join-section h2{
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding-top: 200px;
  
}
.join-section input{
  padding: 10px 250px 10px 10px;
  border: none;
}
.join-section button{
  padding: 10px 30px;
  background-color: rgba(233, 90, 8, 1.00);
  color: #FFFFFF;
  border: none;
  margin: -4px;
}

/* footer  section */
footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 50px;
  width: 100%;
}
.features-link{
  margin-left: 80px;
}
.features-link ul li{
  list-style: none;
   margin-top: 30px;
}
.features-link ul li a{
  font-weight: 500;
  text-decoration: none;
  padding: 15px;
  color: rgba(107, 114, 128, 1.00);
 
}
.icons{
 align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.icons img{
  margin-top: 10px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}


.join-section button:hover{
  background-color: green;
}
.navbar ul li a:hover{
  color: #E95A08;
}
.features-link ul li a:hover{
   color: #E95A08;
}


/* responsive media query */
@media screen and (max-width: 576px) {
  .home {
    display: none;
  }

  .navbar {
    padding: 0 15px;
  }

  .navbar ul {
    padding-top: 40px;
  }

  .banner-section {
    flex-direction: column-reverse;
    margin-top: 50px;
    gap: 40px;
  }

  .banner-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    padding: 0 15px;
  }

  .banner-description {
    font-size: 1rem;
    padding: 0 15px;
  }

  .banner-section img {
    width: 100%;
    height: auto;
  }

  .card-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 10px;
  }

  .card {
    text-align: center;
    margin-top: 20px;

  }

  .card-content img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .btn-primary {
    width: 100%;
    max-width: 100%;
    padding: 15px 40px;
    font-size: 1rem;
  }

  .flower-store {
    flex-direction: column;
    padding: 10px;
    margin-top: 50px;

  }

  .badge {
    display: none;
  }

  .store-img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .flower-store-right {
    padding: 0 10px;
  }

  .flower-store-right h1 {
    font-size: 2.5rem;
  }
  .Plants-banner{
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  
}
.background-3{
  height: 200px;
}
.text-content1 h3{
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.text-content1 a{
  font-weight: 500;
  color: #fff;
}
.join-section{
  height: 300px;
  margin-top: 50px;
}
.join-section h2{
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding-top: 80px;
}
.join-section input{
  padding: 10px 10px 10px 10px; 
}
.join-section button{
  padding: 10px;
}
footer{
  grid-template-columns: 1fr;
  padding: 10px;
  /* align-items: start; */

}
.features-link {
  margin-left: 0;
}
.icons{
  margin-top: 10px;
  margin-bottom: 20px;
}
}